<body>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <button class="button is-medium is-fullwidth">Buy a Snack</button>
          <section class="section">
            <h2 class="subtitle">Money inserted:</h2>
          </section>
          <div class="columns">
            <div class="column">
              <button class="button is-fullwidth is-link">Put 1C</button>
            </div>
            <div class="column">
              <button class="button is-fullwidth is-link">Put 10C</button>
            </div>
            <div class="column">
              <button class="button is-fullwidth is-link">Put 25C</button>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <button class="button is-fullwidth is-link">Put $1</button>
            </div>
            <div class="column">
              <button class="button is-fullwidth is-link">Put $5</button>
            </div>
            <div class="column">
              <button class="button is-fullwidth is-link">Put $10</button>
            </div>
          </div>
          <button class="button is-medium is-fullwidth">Return Money</button>
          <section class="section">
            <h2 class="subtitle">Money inside:</h2>
          </section>
          <div class="columns">
            <div class="column">
              <img src="../assets/images/1c.png">
            </div>
            <div class="column">
              <img src="../assets/images/10c.png">
            </div>
            <div class="column">
              <img src="../assets/images/25c.png">
            </div>
          </div>   
          <div class="columns">
            <div class="column">
              <img src="../assets/images/1d.png">
            </div>
            <div class="column">
              <img src="../assets/images/5d.png">
            </div>
            <div class="column">
              <img src="../assets/images/20d.png">
            </div>
          </div>     
        </div>
      </div>
    </div>
  </section>
</body>